# ============================
# Python cache
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
# Virtual environments
# ============================
env/
venv/
myvenv/

# ============================
# Git
# ============================
.git/
.gitignore

# ============================
# OS files
# ============================
.DS_Store
Thumbs.db

# ============================
# Logs & temp files
# ============================
*.log
*.tmp

# ============================
# Archives
# ============================
*.tar
*.tar.gz
*.zip

# ============================
# Jupyter notebooks
# ============================
*.ipynb

# ============================
# Raw data (modeldan tashqari)
# ============================
raw_data/
data/

# ============================
# ML experiments
# ============================
mlruns/
wandb/

# ============================
# ENV secrets
# ============================
.env
.env.*
